.title-1{
    font-size: 34px;
    margin-bottom: 10px;
}

.title-2{
    font-size: 20px;
}

/*MARGENES-------------------------*/
.main-container{
    padding-top: 10px !important;
}
/*---------------------------------*/

.nom-carrera{
    font-size: 16px;
}

#cursos{
    padding: 10px;
    margin: 20px;
}

.img-curso{
    width: 360px;
    height: 214px;
}

.p-cursos{
    margin-top: 14px;
}

@media screen and (max-width: 500px){

}
