.navbar {
    background-color: #f9f9f9 !important;
}
.navbar .navbar-brand {
  color: #707070 !important;
}

.navbar a{
  color: #707070 !important;
}

.navbar a:hover{
  color: #008000 !important;
}

#logo{
    margin-top: -8px;
}

#menu{
    margin-top: 8px;
}

.navbar-toggler-icon{
    margin-top: 8px;
}

footer{
    background-color: #136E3C !important;
    width: 100%;
    height: 28px;
    position: fixed;
    bottom: 0;
    border-top: solid white 1px;
    border-top-color: white;
    font-size: 12px;
}

ul#contacto > li {
  display: inline-block;
    zoom:1;
    *display:inline;
}

.img-cursos{
    width: 600px;
}

#content{
    margin-top: 70px;
}

#platform {
    position: static !important;
    font-size: 25px;
    margin: 10px;
    margin-right: 200px;
}

/*-------------------------------------*/

@media (min-width: 768px) {
    .navbar{
        height: 70px !important;
    }

    .position-md-absolute {
        position: absolute;
    }

    .navbar-nav .nav-item:nth-child(2) {
        margin-right: 80px;
    }
}

@media screen and (max-width: 767px) {
    #content{
        margin-top: 136px;
    }
}

@media screen and (max-width: 584px) {
    p {
        font-size: 14px;
    }

    footer {
        height: 44px;
    }

    footer p, footer a {
        font-size: 10px;
    }
}
